<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-wisepush"
      version="0.0.1">
    <name>WPClient</name>
    <description>Cordova Wisepush Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova, wisepush, push, plugin</keywords>
    
    <info>
		Cordova Wisepush plugin v0.0.1
	</info>
	
    <js-module src="www/WPClient.js" name="WPClient">
	    <clobbers target="WPClient" />
    </js-module>

    <engines>
	    <engine name="cordova-android" version=">=4.0.0" />
    </engines>

    <!-- ANDROID CONFIGURATION -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.VIBRATE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="org.eclipse.paho.android.service.MqttService"></service>
			<service android:name="kr.co.itsm.plugin.WPFirebaseMessagingService">
				<intent-filter>
					<action android:name="com.google.firebase.MESSAGING_EVENT"/>
				</intent-filter>
			</service>
			<service android:name="kr.co.itsm.plugin.WPFirebaseInstanceIDService">
				<intent-filter>
					<action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
				</intent-filter>
			</service>
		</config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WPPlugin" >
                <param name="android-package" value="kr.co.itsm.plugin.WPPlugin"/>
                <param name="onload" value="true" />
            </feature>
		</config-file>

        <!-- <framework src="com.fasterxml.jackson.core:jackson-databind:2.8.5" />
        <framework src="com.fasterxml.jackson.core:jackson-core:2.8.5" />
        <framework src="com.fasterxml.jackson.core:jackson-annotations:2.8.5" />
        <framework src="org.eclipse.paho:org.eclipse.paho.client.mqttv3:1.1.1" />
        <framework src="org.eclipse.paho:org.eclipse.paho.android.service:1.1.1" />
        <framework src="com.google.firebase:firebase-core:10.2.6" />
        <framework src="com.google.firebase:firebase-messaging:10.2.6" />
        <framework src="com.google.firebase:firebase-auth:10.2.6" /> -->

        <framework src="src/android/WPPlugin.gradle" custom="true" type="gradleReference" />

        <resource-file src="libs/wpa-release.aar" target="libs/wpa-release.aar" /> 
        <source-file src="src/android/WPPlugin.java" target-dir="src/kr/co/itsm/plugin" />
        <source-file src="src/android/WPFirebaseInstanceIDService.java" target-dir="src/kr/co/itsm/plugin" />
        <source-file src="src/android/WPFirebaseMessagingService.java" target-dir="src/kr/co/itsm/plugin" />
    </platform>

    <!-- IOS CONFIGURATION -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="WPPlugin">
                <param name="ios-package" value="WPPlugin"/>
            </feature>
        </config-file>
		
		<!-- ENABLE PUSH CAPABILITY -->
		<config-file parent="aps-environment" target="*/Entitlements-Debug.plist">
		    <string>development</string>
		</config-file>
		<config-file parent="aps-environment" target="*/Entitlements-Release.plist">
			<string>production</string>
		</config-file>
		
		<resource-file src="src/ios/GoogleService-Info.plist" target="Resources/GoogleService-Info.plist" />
		
        <header-file src="src/ios/WPPlugin.h" />
        <source-file src="src/ios/WPPlugin.m" />
		
		<header-file src="src/ios/AppDelegate+WPPlugin.h" />
		<source-file src="src/ios/AppDelegate+WPPlugin.m" />
		
		<!-- FIREBASE COCOA PODS (not for the moment)-->
		<!-- <framework src="Firebase/Messaging" type="podspec" spec="~> 0"/> -->
		
		<!-- FIREBASE LIBS -->
		<header-file src="src/ios/firebase/Firebase.h" />
		<framework src="src/ios/firebase/FirebaseAnalytics.framework" custom="true" />
		<framework src="src/ios/firebase/FirebaseCore.framework" custom="true" />
		<framework src="src/ios/firebase/FirebaseInstanceID.framework" custom="true" />
		<framework src="src/ios/firebase/FirebaseMessaging.framework" custom="true" />
		<framework src="src/ios/firebase/GoogleInterchangeUtilities.framework" custom="true" />
		<framework src="src/ios/firebase/GoogleIPhoneUtilities.framework" custom="true" />
		<framework src="src/ios/firebase/GoogleSymbolUtilities.framework" custom="true" />
		<framework src="src/ios/firebase/GoogleUtilities.framework" custom="true" />
			
		<!-- OTHER NEEDED LIBS -->
		<framework src="libc++.tbd" />
		<framework src="libz.tbd" />
		<framework src="AddressBook.framework" />
		<framework src="libsqlite3.0.tbd" />
		<framework src="libz.tbd" />
		<framework src="Security.framework" />
    </platform>

    <!-- COPY FCM CONFIG FILES TO PLATFORM AFTER PLUGIN INSTALL OR PLATFORM PREPARE -->
	<hook src="scripts/wp_config_files_process.js" type="after_plugin_add" />
	<hook src="scripts/wp_config_files_process.js" type="after_prepare" />
</plugin>