<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-smtcat"
      version="0.0.1">
    <name>SMTCAT</name>
    <description>Cordova SMTCAT Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova, cat, plugin</keywords>
    
    <info>
		Cordova SMTCAT plugin v0.0.1
	</info>
	
    <js-module src="www/SMTCAT.js" name="SMTCAT">
	    <clobbers target="SMTCAT" />
    </js-module>

    <engines>
	    <engine name="cordova-android" version=">=4.0.0" />
    </engines>

    <!-- ANDROID CONFIGURATION -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
	        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SMTCAT" >
                <param name="android-package" value="kr.co.itsm.plugin.SMTCAT"/>
                <param name="onload" value="true" />
            </feature>
		</config-file>

        <framework src="src/android/SMTCAT.gradle" custom="true" type="gradleReference" />

        <resource-file src="libs/SMTCatLinkageModule.jar" target="libs/SMTCatLinkageModule.jar" /> 
        <resource-file src="libs/BixolonPrinter.jar" target="libs/BixolonPrinter.jar" /> 
        <source-file src="src/android/SMTCAT.java" target-dir="src/kr/co/itsm/plugin" />
    </platform>
</plugin>